.affichage{
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.8),rgba(200, 147, 118, 0.747)), url(image/banner-caterers.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0.3px);
  background: linear-gradient();
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
   
}
.affichage .description {
    color: white;
  }
  
.filtre {
    display: flex;
    justify-content: space-around;
    background-color:  #e7ded0;
  }
 .debut  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
  }
.choix {

    padding: 20px;
  }
   .choix select {
    padding: 10px;
    font-size: 15px;

  }
  .filtre .btn button  {
    padding: 9px 25px;
    margin: 9px 0px;
    border: 0;
    border-radius: 10px;
  }
  .filtre .btn .filtrer {
    background-color: #ffb300;
    color: white;
    font-weight: bold;
  }
.cart-verification{
    background-color: #e7ded0;
    display: flex;
    flex-direction: column;
    /* width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 420px;
     */
     gap: 50px;
     margin: 15px 300px;
  }
.cart-verification .verification-1 .image-verification img {
      height: 10%;
      width: 90%;
      object-fit: cover;
      display: flex;
      justify-content: flex-start;
      border-radius: 10px;
    }
.cart-verification .verification-1 {
        display: grid;
        grid-template-columns: repeat(3, 25% 30% );
        align-items: center;
        border: 1px solid;
        align-self: center;
        text-align: start;
        gap: 12px;
        
        background-color: #e9e5df;
        border-radius: 10px;
        }
.cart-verification .verification-1 .bloque .info {
       align-items: center;
       display: flex;
        justify-content: space-between;
        gap: 100px;
        height: 100vh;
        width: 100%;
    }

  
.cart-verification .verification-1 .info {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;

    }
  .cart-verification .verification-1 .info span{
    background-color: #ececec;
    border-radius: 12px;
    padding: 8px;
    justify-content: space-around;
    width: 25%;
  }
  .cart-verification .verification-1 .finprofil {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 150px;    
    
  }
  
  .cart-verification .verification-1 .finprofil button{
    padding: 20px 20px;
    background-color: #ffb300;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    text-decoration: none;
   }

   @media(max-width: 768px) {
    body{
        font-size: 14px;
    }
    header{
        display: none;
    }
    .filtre{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .debut {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 15px;
    }
    .affichage .description {
      margin: 20px;
    }
    .cart-verification .verification-1 {
      align-items: center;
      padding: 35px;
      margin-right: 155px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 35px ;
      position: relative;
      gap: 0px;
      width: 48vh;
      
    }
    .cart-verification .verification-1 .btn{
      position: absolute;
      right: 70%;
      gap: 15px;
      margin: 0;
      padding: 0;
      
    }
    .cart-verification .verification-1 .finprofil .star{
      position: absolute;
      bottom: 225px; 
    }
    
    
    .cart-verification .verification-1 .image-verification img {
      width: 45vh;
      height: 30vh;
      margin: 10px;
    }

    }